/*h1, h2, h3, h4, h5, h6 {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

body{
    display:flex;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: center;
    font: 1rem "Lucida Grande", Helvetica, Arial, sans-serif;
}

.license{
    display:flex;
    gap: 1rem;
    width: 300px;
    background: whitesmoke;
    padding: 1rem;
    border: .25rem solid black;
    border-radius: 1rem;
}

div.headshot{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.pfp{
    height: 80px;
    width: 80px;
    background: blue;
    border-radius: .5rem;
}

article{
    /*padding: 1rem;*/

}

article h3{
    margin-top: unset;
    padding-top: unset;
    border-right: 5px solid black;
    border-bottom: 1px solid black;
}

.color-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.color{
    display: flex;
    background: brown;
    border-radius: .25rem;
    width: 24px;
    height: 24px;
    align-content: center;
    align-items: center;
    justify-content: center;
}








/*.container{*/
/*    display:flex;*/
/*    flex-wrap: wrap;*/
/*    flex-direction: row;*/
/*    align-items: stretch;*/
/*    justify-content: space-between;*/
/*    border: 8px solid green;*/
/*    margin: 0 auto;*/
/*    padding: 1rem;*/
/*    min-height: 100rem;*/
/*}*/

/*.num{*/
/*    font-size: 4rem;*/
/*    background-color: blue;*/
/*    color: white;*/
/*    padding: 2rem;*/
/*    margin: 0 1rem;*/
/*    border-radius: 1rem;*/
/*    align-content: center;*/
/*}*/